*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Playfair Display", serif;
}
body{
    background: #BAB1A2;
    position: relative;
    height: 100vh;
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: #fff;
}
.nav{
    margin: 0 10vh;
    display: flex;
    gap: 2vh;
}
a{
    color: #fff;
    text-decoration: none;
}
.icon{
    width: 30vh;
    display: flex;
    justify-content: space-around;
}
button{
    border: none;
    background: transparent;
    color: #fff;
}
i{
    transform: scale(1.1);
}
main{
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    height: 56vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    background-image: url("https://i.pinimg.com/736x/46/20/52/46205288897fcb3978434336783739ab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 50vh;
    border-radius: 30px;
    box-shadow:  0 0 30px rgba(0,0,0,0.3);
    transition: all 0.5s ease-in;
    position: relative;
    z-index: 1;
}
i:hover{
    transform: scale(1.3);
}
h1{
    font-size: 2rem;
}
.img:hover{
    transform: scale(1.1);
}
.text1{
    font-size: 2.5rem;
}
.heading-text{
    padding-left: 27vh;
}
.text{
    position: absolute;
    z-index: 2;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    pointer-events: none;
}
.text p{
    pointer-events: auto;
}
p{
    max-width: 300px;
    color: #fff;
    margin-bottom: 3vh;
}
.shop{
    padding: 10px 20px;
    border: 3px solid #fff;
    position: relative;
    font-weight: bold;
}
.shop::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in;
    background-color: #fff;
    z-index: -1;
}
.shop:hover::before{
    width: 100%;
}
.shop:hover{
    color:#BAB1A2;
}